In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_csv("C:/Users/Admin/Documents/bangalore house price prediction OHE-data.csv")
df1.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

## Exploratory Data Analysis

In [3]:
df1.shape

(7120, 108)

In [4]:
df1.columns

Index(['bath', 'balcony', 'price', 'total_sqft_int', 'bhk', 'price_per_sqft',
       'area_typeSuper built-up  Area', 'area_typeBuilt-up  Area',
       'area_typePlot  Area', 'availability_Ready To Move',
       ...
       'location_Kalena Agrahara', 'location_Horamavu Agara',
       'location_Vidyaranyapura', 'location_BTM 2nd Stage',
       'location_Hebbal Kempapura', 'location_Hosur Road',
       'location_Horamavu Banaswadi', 'location_Domlur',
       'location_Mahadevpura', 'location_Tumkur Road'],
      dtype='object', length=108)

In [26]:
df1.isnull().sum()

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [27]:
df2=df1.dropna()
df2.isnull().sum()

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [32]:
df2.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df2 ['bhk'].unique()

array([3, 2, 1, 4, 5, 9, 6, 7, 8], dtype=int64)

In [51]:
df2[df2.bhk>20]

Empty DataFrame
Columns: [bath, balcony, price, total_sqft_int, bhk, price_per_sqft, area_typeSuper built-up  Area, area_typeBuilt-up  Area, area_typePlot  Area, availability_Ready To Move, location_Whitefield, location_Sarjapur  Road, location_Electronic City, location_Marathahalli, location_Raja Rajeshwari Nagar, location_Haralur Road, location_Hennur Road, location_Bannerghatta Road, location_Uttarahalli, location_Thanisandra, location_Electronic City Phase II, location_Hebbal, location_7th Phase JP Nagar, location_Yelahanka, location_Kanakpura Road, location_KR Puram, location_Sarjapur, location_Rajaji Nagar, location_Kasavanhalli, location_Bellandur, location_Begur Road, location_Banashankari, location_Kothanur, location_Hormavu, location_Harlur, location_Akshaya Nagar, location_Jakkur, location_Electronics City Phase 1, location_Varthur, location_Chandapura, location_HSR Layout, location_Hennur, location_Ramamurthy Nagar, location_Ramagondanahalli, location_Kaggadasapura, location_Kundalahalli, location_Koramangala, location_Hulimavu, location_Budigere, location_Hoodi, location_Malleshwaram, location_Hegde Nagar, location_8th Phase JP Nagar, location_Gottigere, location_JP Nagar, location_Yeshwanthpur, location_Channasandra, location_Bisuvanahalli, location_Vittasandra, location_Indira Nagar, location_Vijayanagar, location_Kengeri, location_Brookefield, location_Sahakara Nagar, location_Hosa Road, location_Old Airport Road, location_Bommasandra, location_Balagere, location_Green Glen Layout, location_Old Madras Road, location_Rachenahalli, location_Panathur, location_Kudlu Gate, location_Thigalarapalya, location_Ambedkar Nagar, location_Jigani, location_Yelahanka New Town, location_Talaghattapura, location_Mysore Road, location_Kadugodi, location_Frazer Town, location_Dodda Nekkundi, location_Devanahalli, location_Kanakapura, location_Attibele, location_Anekal, location_Lakshminarayana Pura, location_Nagarbhavi, location_Ananth Nagar, location_5th Phase JP Nagar, location_TC Palaya, location_CV Raman Nagar, location_Kengeri Satellite Town, location_Kudlu, location_Jalahalli, location_Subramanyapura, location_Bhoganhalli, location_Doddathoguru, location_Kalena Agrahara, location_Horamavu Agara, ...]
Index: []

[0 rows x 108 columns]

In [67]:
df2.total_sqft_int.unique()

array([1672., 1750., 1250., ...,  669., 1713.,  666.])

In [85]:
df3=df2.copy()

In [86]:
df3.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [93]:
df3.loc[30]

bath                              4.0
balcony                           0.0
price                           413.0
total_sqft_int                 2750.0
bhk                               4.0
                                ...
location_Hosur Road               0.0
location_Horamavu Banaswadi       0.0
location_Domlur                   0.0
location_Mahadevpura              0.0
location_Tumkur Road              0.0
Name: 30, Length: 108, dtype: float64

In [95]:
df4=df3.copy()
df4.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [102]:
df4.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [106]:
df4[df4.total_sqft_int/df4.bhk<300].head()

Empty DataFrame
Columns: [bath, balcony, price, total_sqft_int, bhk, price_per_sqft, area_typeSuper built-up  Area, area_typeBuilt-up  Area, area_typePlot  Area, availability_Ready To Move, location_Whitefield, location_Sarjapur  Road, location_Electronic City, location_Marathahalli, location_Raja Rajeshwari Nagar, location_Haralur Road, location_Hennur Road, location_Bannerghatta Road, location_Uttarahalli, location_Thanisandra, location_Electronic City Phase II, location_Hebbal, location_7th Phase JP Nagar, location_Yelahanka, location_Kanakpura Road, location_KR Puram, location_Sarjapur, location_Rajaji Nagar, location_Kasavanhalli, location_Bellandur, location_Begur Road, location_Banashankari, location_Kothanur, location_Hormavu, location_Harlur, location_Akshaya Nagar, location_Jakkur, location_Electronics City Phase 1, location_Varthur, location_Chandapura, location_HSR Layout, location_Hennur, location_Ramamurthy Nagar, location_Ramagondanahalli, location_Kaggadasapura, location_Kundalahalli, location_Koramangala, location_Hulimavu, location_Budigere, location_Hoodi, location_Malleshwaram, location_Hegde Nagar, location_8th Phase JP Nagar, location_Gottigere, location_JP Nagar, location_Yeshwanthpur, location_Channasandra, location_Bisuvanahalli, location_Vittasandra, location_Indira Nagar, location_Vijayanagar, location_Kengeri, location_Brookefield, location_Sahakara Nagar, location_Hosa Road, location_Old Airport Road, location_Bommasandra, location_Balagere, location_Green Glen Layout, location_Old Madras Road, location_Rachenahalli, location_Panathur, location_Kudlu Gate, location_Thigalarapalya, location_Ambedkar Nagar, location_Jigani, location_Yelahanka New Town, location_Talaghattapura, location_Mysore Road, location_Kadugodi, location_Frazer Town, location_Dodda Nekkundi, location_Devanahalli, location_Kanakapura, location_Attibele, location_Anekal, location_Lakshminarayana Pura, location_Nagarbhavi, location_Ananth Nagar, location_5th Phase JP Nagar, location_TC Palaya, location_CV Raman Nagar, location_Kengeri Satellite Town, location_Kudlu, location_Jalahalli, location_Subramanyapura, location_Bhoganhalli, location_Doddathoguru, location_Kalena Agrahara, location_Horamavu Agara, ...]
Index: []

[0 rows x 108 columns]